.nav-blue {
        background: lightblue;
    }
.navbar-nav {
    border: 1px solid white;
}

.nav-blue .navbar-brand {
  color: darkblue;
}
.nav-blue .navbar-brand:hover,
.nav-blue .navbar-brand:focus {
  color: #fff;
  background-color: transparent;
}
.nav-blue .navbar-text {
  color: darkblue;
}
.nav-blue .navbar-nav > li > a {
  color: black;
}
.nav-blue .navbar-nav > li > a:hover,
.nav-blue .navbar-nav > li > a:focus {
  color: #fff;
  background-color: transparent;
}
.nav-blue .navbar-nav > .active > a,
.nav-blue .navbar-nav > .active > a:hover,
.nav-blue .navbar-nav > .active > a:focus {
  color: #fff;
  background-color: darkblue;
}
/*.nav-blue .navbar-nav > .disabled > a,
.nav-blue .navbar-nav > .disabled > a:hover,
.nav-blue .navbar-nav > .disabled > a:focus {
  color: red;
  background-color: transparent;
}*/

.nav-karlik {
  background: red;
  margin-left: 200px;
}

.with-side {
  margin-left: 210px;
  width: 80%;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #00509f;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: 2px solid lightblue;
    border-radius: 15px;
    outline: none;
    transition: 0.4s;
}
.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 8px;
}



/* Add a background color to the button if it is clicked on (add the .active class with JS), 
and when you move the mouse over it (hover) */
.active, .accordion:hover {
    background-color: #aaa;
}

/* Style the accordion panel. Note: hidden by default */
.accrpanel {
    padding: 0 18px;
    background-color: transparent;
    display: none;
}
.wrap-mini {
    width: 100%;
    position: inherit;
    padding: 0 30px;
    margin-top: 10px;
}


/**** Design for detail view ****/
.detail1-view {
  margin-bottom:20px;
  width: 100%;
  float: bottom-left;
  /*border:1px solid #000;*/
  /*border-bottom: 1px solid #000;*/
  border: 1px solid #cdf;
  font-family: "Tahoma";
  font-size: 15px;
  font-style: initial;
}



@media(min-width: 768px){
  .detail1-view {
    
  }
}


.left-content {
  width: 300px;
  margin-left: -210px;
  position: fixed;
}
.nonecont {
  display: none;
}
@media(max-width: 1000px) {
  .left-content {
    display: none;
  }
  .main-content {
  margin-left: 0px;
  position: absolute;
}
}

.main-content {
  margin-left: 110px;
}