/*specialView**********************************/

.blackAndWhite{
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.blackAndWhiteInvert,
.blackAndWhiteInvert img,
.blackAndWhiteInvert embed,
.blackAndWhiteInvert video{
    -webkit-filter: grayscale(100%) invert(100%);
    -moz-filter: grayscale(100%) invert(100%);
    -ms-filter: grayscale(100%) invert(100%);
    -o-filter: grayscale(100%) invert(100%);
    filter: grayscale(100%) invert(100%);
}


.specialViewArea{
    padding: 10px 20px 20px 20px;
    width: 265px;
    right: -10px;
    top: 30px;
    color: #000;
}
.very_blue .print{
     text-align: right;
     margin: -25px 10px 0 0;
 }

.appearance{
    margin-bottom: 10px;
    clear: both;
    display: table;
    width: 100%;
}
.squareBox{
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    display: table-cell;
    font-size: 27px;
    font-weight: bolder;
    cursor: pointer;
    background: #828282;
    border: 2px solid #353535;
    color: #fff;
}
.specialTitle{
    border-bottom: 1px solid #ccc;
    font-size: 18px;
}
.squareAppearances{
    float: left;
    margin-right: 5px;
}
.squareBox.spcNormal{
    background: #00a2e0;
    border-color: #034e6b;
}
.squareBox.spcWhiteAndBlack{
    background: #828282;
    border-color: #353535;
}
.squareBox.spcDark{
    background: #3e3e3e;
    border-color: #777777;
}
.fontSmaller{
    font-size: 24px;
}
.fontBigger{
    font-size: 26px;
}

.defaultSlider{
    height: 6px !important;
    background: #b7b7b7;
    margin-top: 20px;
    border: none;
}
.defaultSlider span{
    border-radius: 50%;
    outline: none;
    background: #fff !important;
    cursor: pointer !important;
    top: -7px !important;
}
.defaultSlider span:focus, .defaultSlider span:hover{
    border-color: #d3d3d3;
}
.defaultSlider .ui-slider-range{
    background: #0da525;
}
/*specialView**********************************/
.blackAndWhiteInvert{
    /*background-color: #000 !important;*/
}
@font-face {
    font-family: "OpenSans-Light";
    src: url("../fonts/OpenSans-Light.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansCondensedLight";
    src: url("../fonts/OpenSansCondensedLight.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSansRegular";
    src: url("../fonts/OpenSansRegular.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "OpenSans-Semibold";
    src: url("../fonts/OpenSans-Semibold.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family: "PTSans-Narrow";
    src: url("../fonts/PTSans-Narrow.woff") format("woff");
    font-style: normal;
    font-weight: normal;
}
*{
    margin: 0;
    padding: 0;
}
img {
    border: none;
    max-width: 100%;
}
body{
    /*background: #fff;*/
    font-family: "OpenSansRegular";
}
html, body{
    height: 100%;
    background-color: #fff;
}
a:link, a:visited {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
.chart_hover:hover{
    display: block;
    background-color: #eaf8ff;
}
.relative{
    position: relative;
}
a{
    text-decoration: none;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    outline: none !important;
}
.centre{
    display: block;
    text-align: center;
}
.nopade{
    padding: 0;
}
.nopaderight{
    padding-right: 0;
}
.nopadeleft{
    padding-left: 0;
}
.wrapper{
    overflow: hidden;
    position: relative;
}

.sphere{
    /*position: relative;*/
    /*left: 50%;*/
    /*margin-left: 200px;*/
    /*width: 574px;*/
    /*height: 300px;*/
    /*overflow: hidden;*/
    /*background-color: #d8d8d8;*/
}
.sphere{
    position: absolute;
    right: 0;
    width: 574px;
    height: 300px;
    overflow: hidden;
    background-color: #d8d8d8;
}
.sphere img{
    position: absolute;
    left: 0;
    top: 0;
    max-width: inherit;
    z-index: 0;
}
.drive{
    height: 936px;
    width: 212px;
    background: url("../img/drive.png") top no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    -webkit-animation: driver 12s 0s infinite linear;
    -ms-animation: driver 12s 0s infinite linear;
    -moz-animation: driver 12s 0s infinite linear;
    -o-animation: driver 12s 0s infinite linear;
    animation: driver 12s 0s infinite linear;
}
@-webkit-keyframes driver {
    0%, 100% {
        left: -50%;
    }
    50% {
        left: 100%;
    }
}
@-moz-keyframes driver {
    0%, 100% {
        left: -50%;
    }
    50% {
        left: 100%;
    }
}
@-o-keyframes driver {
    0%, 100% {
        left: -50%;
    }
    50% {
        left: 100%;
    }
}
@keyframes driver {
    0%, 100% {
        left: -50%;
    }
    50% {
        left: 100%;
    }
}
.brd{
    border: 1px solid #c9302c;
}
/****************************************************/
.logo_img{
    /*display: inline-block;*/
    padding: 25px 0 0 15px;
    float: left;
}
.logo_img img{
    max-width: inherit;
}
.logo_img:hover img{
    /*opacity: 0.9;*/
}
.logo_text span{
    vertical-align: middle;
    height: 70px;
    display: table-cell;
}
.logo_text:hover{
    text-decoration: none;
}
.logo_text{
    font-size: 16px;
    margin: 10px 0 0 0;
    font-family: "OpenSans-Light";
    color: #464646 !important;
    display: inline-block;
    /*border-left: 1px solid #464646;*/
    padding-left: 10px;
}
.logo_name{
    float: left;
    padding: 35px 100px 15px 35px;
    text-transform: uppercase;
}
.special_views{
    text-align: right;
    position: relative;
    top: 75px;
    margin-bottom: 95px;
}
/**/
.lang{
    position: absolute;
    top: 75px;
    right: 200px;
}
.lang li a:hover,
.lang li a:active,
.lang li a:focus,
.lang li.active a{
    background-color: #59B1E4;
    text-decoration: none;
    color: #fff;
}
.lang li a{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    padding: 7px 0 0 0;
    font-size: 12px;
}
.lang li{
    list-style: none;
    position: relative;
    display: inline-block;
    /*margin: 0 5px 0 0;*/
}
/**/
.call_box div{
    font-weight: bold;
}
.call_box span{
    font-size: 16px;
}
.call_box a:hover{
    text-decoration: none;
}
.call_box a{
    text-decoration: underline;
    font-size: 12px;
    color: #1f1f1f !important;
    font-weight: bold;
}
.call_box{
    width: 140px;
    text-align: right;
    position: absolute;
    top: 50px;
    right: 50px;
    color: #1f1f1f;
}
/******************************************************/
.head_menu .navbar{
    margin: 20px 0 0 0;
    padding-bottom: 15px;
}
.head_menu_modal .nav>li>a {
    border-bottom: 1px solid transparent;
}
.head_menu .nav>li>a {
    padding: 0;
    margin: 10px 30px;
    color: #464646;
    font-size: 18px;
    text-transform: uppercase;
    font-family: "PTSans-Narrow";
    border-bottom: 1px solid transparent;
}
.head_menu .caret{
    display: none;
}
.head_menu{
    border-bottom: 1px solid #1f1f1f;
}
.head_menu_modal .nav>li>a:hover,.head_menu_modal .nav>li>a:focus,
.head_menu .nav>li>a:hover,.head_menu .nav>li>a:focus {
    text-decoration: none;
    background-color: transparent;
    border-bottom: 1px solid #464646;
}
.head_menu .dropdown-menu>li>a {
    padding: 7px 20px;
    font-family: "PTSans-Narrow";
    font-size: 16px;
}
.head_menu_modal .nav .open>a,.head_menu_modal  .nav .open>a:hover,.head_menu_modal  .nav .open>a:focus,
.head_menu .nav .open>a,.head_menu  .nav .open>a:hover,.head_menu  .nav .open>a:focus {
    background-color: transparent;
    border-color: transparent;
}
/*************************************/
.news_box{
    padding: 20px 0 25px 0;
    /*background-color: #fff;*/
}
.news_box .inner{
    display: block;
    padding: 25px 0 0 0 !important;
}
a.title:hover{
    color: #000;
}
.title{
    font-size: 16px;
    color: #000;
    font-family: "OpenSans-Semibold";
    /*margin-bottom: 12px;*/
    display: inline-block;
}
.anons_box{
    font-size: 14px;
    color: #000;
    padding-top: 10px;
    margin-bottom: 30px;
}
a.tag_link:hover{
    color: #4c78e4;
}
a.tag_link{
    color: #4c78e4;
    font-size: 12px;
}
.date_box{
    color: #757575 !important;
    font-size: 12px;
    display: inline-block;
}
.mini_way{
    margin: 15px 0;
    color: #4c78e4;
}
.title_marg{
    padding-left: 30px;
    padding-top: 15px;
}
.news_list{
    padding: 45px 0 0 0;
}
.news_list>li.clearfix{
    padding: 0;
}
.news_list>li{
    list-style: none;
    padding-bottom: 35px;
}
/***************************************************************/
.link_list li img{
    position: absolute;
    top: 50%;
    margin-top: -16.5px;
    max-width: inherit !important;
}
.link_list li a{
    color: #2879E8;
    font-size: 16px;
    font-family: "PTSans-Narrow";
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    padding-left: 50px;
    text-transform: uppercase;
}
.link_list{
    margin-bottom: 20px;
}
.link_list li{
    list-style: none;
    position: relative;
    /*height: 50px;*/
    margin-bottom: 10px;
}
.list_name{
    text-transform: uppercase;
    display: block;
    color: #2879E8;
    font-size: 20px;
    border-bottom: 1px solid #2879E8;
    font-family: "PTSans-Narrow";
    padding: 0 0 10px 0;
}
.mini_slide .carousel-indicators {
    bottom: -40px;
}
.mini_slide .carousel-inner>.item{
    border-radius: 15px;
    overflow: hidden;
}
.mini_slide .carousel-indicators li {
    border: 1px solid #9a9a9a;
    background-color: #9a9a9a;
}
.item_text span{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    background-color: #000;
    opacity: 0.07;
}
.item_text .text{
    display: table-cell;
    height: 70px;
    vertical-align: middle;
    text-align: center;
    min-width: 277px;
}
.item_text{
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    font-size: 18px;
    color: #2879E8;
    font-family: "PTSans-Narrow";
    text-align: center;
}
.item_text{
    animation-delay: 0.3s;
    animation-duration: 0.8s;
}
.mini_slide{
    margin-bottom: 30px;
}
/*fade opacity*/
.carousel-fade .carousel-inner .item {
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
    transition-duration: 2s;
    overflow: hidden;
}
.carousel-fade .carousel-inner .active {
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}
.carousel-fade .carousel-control {
    z-index: 2;
}
/*fade opacity*/
/**************/
/**/
a.mini_btn:hover{
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
a.mini_btn{
    color: #4c78e4;
    font-size: 18px;
    display: inline-block;
    border-bottom: 1px solid #4c78e4;
}
.mapper{
    position: relative;
    z-index: 1;
    padding: 70px 0 30px 0;
    background: url("../img/mini_bg.png");
}
.facker a:hover{
    /*box-shadow: 1px 1px 0px 1px #242424;*/
    /*-webkit-box-shadow: 1px 1px 0px 1px #242424;*/
    /*-moz-box-shadow: 1px 1px 0px 1px #242424;*/
    /*-o-box-shadow:1px 1px 0px 1px #242424;*/
}
.map_box{
    position: relative;
    background-image: url("../uz/img/border_white.html");
    background-size: 47px 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-top: -10px;
}
.mapBox{
    padding-left: 70px;
    position: relative;
    z-index: 1;
}
.map_text{
    position: absolute;
    display: inline-block;
    top: 310px;
    left: -650px;
    font-family: "OpenSansRegular";
    font-size: 15px;
    color: #000;
    width: 380px;
    height: 285px;
    line-height: 1.2;
    text-transform: none;
}
.mapper path:hover{
    cursor: pointer;
}
.map_map span{
    position: absolute;
    background-color: #5c5b4c;
    color: #fff;
    width: 100%;
    height: 55px;
    top: 0;
    left: 0;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    padding: 10px 20px;
    line-height: 1.3;
    font-family: "OpenSansRegular";
}
.mapLabels2,
.jqvmap-label {
    position: absolute;
    /*display: none;*/
    background: #D6D5C6;
    width: 450px;
    height: 250px;
    line-height: 1;
    font-size: 16px !important;
    color: #000;
    border-radius: 20px !important;
    margin: -70px 0 0 100px;
    /*right: 65px;*/
    padding: 62px 20px 20px 20px;
    font-family: "OpenSansRegular";
}
/*.mapLabels2,*/
/*.jqvmap-label:after{*/
/*content: '';*/
/*display: inherit;*/
/*position: relative;*/
/*bottom: 200px;*/
/*z-index: 50;*/
/*left: 50%;*/
/*margin-left: -19px;*/
/*width: 0;*/
/*height: 0;*/
/*border-top: solid 10px #e0e0e0;*/
/*border-left: solid 10px transparent;*/
/*border-right: solid 10px transparent;*/
/*}*/
.mini_map{
    position: relative;
    padding: 15px 0 0 5px;
    margin: 0 0 25px 0;
}
.mini_map.mini_map2{
    position: relative;
    left: 500px
}
.map_bg{
    width: 563px;
    height: 397px;
    position: absolute;
    top: 11px;
    left: -37px;
    display: block;
    background: url("../img/map.png") center no-repeat;
}
.map_bg2{
    display: none;
}
.mapBoxTitle{
    position: relative;
    /*right: 55px;*/
    font-size: 20px;
    font-family: "PTSans-Narrow";
    color: #525252;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 20px 0;
    /*margin: 30px 0 0 0;*/
}
#vmap{
    transform: scale(0.86);
}
/**********************************************************************************/
.mini_list {
    padding: 25px 0;
    margin-bottom: 120px;
}
.mini_list li img{
    position: absolute;
    left: 0;
    top: 50%;
    margin-top: -12px;
}
.mini_list li a span{
    vertical-align: middle;
    height: 60px;
    display: table-cell;
}
.mini_list li a{
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    font-family: "OpenSans-Semibold";
}
.mini_list li{
    list-style: none;
    position: relative;
    padding: 0 0 0 80px;
}
.menu_list2 li{
    padding: 0 0 0 80px;
}
.menu_list2 li a span{
    height: 70px;
}
.menu_list2 li img{
    margin-top: -22px;
}
/***********************footer*******************************/
.footer{
    background-color: #dedede;
    padding: 70px 0 20px 0;
    position: relative;
    z-index: 1;
}
.footer .dropdown-menu{
    top: inherit;
    bottom: 100%;
}
.foot_text p{
    margin-bottom: 0;
}
.foot_text{
    padding: 20px 70px 35px 0;
    line-height: 1.5;
}
.way_list a:hover img{
    opacity: 0.8;
}
.way_list li{
    list-style: none;
    display: inline-block;
    margin: 0 5px 10px 0;
}
.foot_text.text_left{
    padding: 20px 0 35px 70px;
}
.way_list{
    text-align: right;
}
/**/
.list_way{
    position: relative;
    background: #dedede;
    background: rgba(222,222,222,1);
    background: -moz-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(210,210,210,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(222,222,222,1)), color-stop(100%, rgba(210,210,210,1)));
    background: -webkit-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(210,210,210,1) 100%);
    background: -o-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(210,210,210,1) 100%);
    background: -ms-linear-gradient(top, rgba(222,222,222,1) 0%, rgba(210,210,210,1) 100%);
    background: linear-gradient(to bottom, rgba(222,222,222,1) 0%, rgba(210,210,210,1) 100%);

}
.list-unstyled li strong{
    text-transform: uppercase;
    font-size: 16px;
    font-weight: normal;
    color: #262626 !important;
    margin-bottom: 10px;
    display: inline-block;
}
.list-unstyled a{
    display: inline-block;
    font-size: 16px;
    color: #5d5d5d !important;
    font-family: "PTSans-Narrow";
    padding-left: 17px;
    background: url(../img/list.png) no-repeat 0 9px;
    display: block;
    line-height: 1.1;
    padding-bottom: 7px;
}
/**/
.map_btn:hover{
    text-decoration: none;
}
.map_btn span{
    width: 34px;
    height: 42px;
    background: url("../img/map_btn.png") no-repeat;
    position: absolute;
    left: -34px;
    top: 0;
}
.map_btn{
    font-size: 18px;
    font-family: "PTSans-Narrow";
    color: #5d5d5d !important;
    padding: 10px 25px;
    width: 151px;
    height: 45px;
    position: absolute;
    text-transform: uppercase;
    top: -42px;
    text-align: right;
    right: 0;background-color: #DFDFDF;
    z-index: 1;
}
.footer_list{
    /*margin: 40px 0 30px 0;*/
    display: none;
}
.list_in{
    /*margin: 40px 0 0 0;*/
    padding-bottom: 30px;
    width: 1633px;
    margin: 40px auto;

}
.blackAndWhiteInvert .sphere{
    background-color: #fff;
}
.blackAndWhiteInvert .sphere .drive,
.blackAndWhiteInvert .sphere img{
    display: none;
}
.sphere_in{
    overflow: hidden;
}
#container{
    margin: 0 auto;
}
.list_in .col-md-x-save{
    float: left;
    width: 20%;
    margin-bottom: 25px;
    padding: 0 15px;
}
.mainMapBody .mapLabels2,
.mainMapBody .jqvmap-label
{
    display: none !important;
}
.rightBox2 ul li.active{
    background-color: #49c7a2;
    color: #fff;
    border-radius: 15px;
}
.mini_modal i{
    background-color: #82B5E6;
    opacity: 0.87;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    z-index: 0;
}
.mini_modal div{
    position: relative;
    z-index: 1;
}
.mini_modal a{
    color: #fff;
}
.mini_modal img{
    position: absolute;
    left: 17px;
    top: 74px;
}
.img_modal_dep {
    width: 160px;
    height: 200px;
}
.mini_modal{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 525px;
    height: 320px;
    font-size: 12px;
    border-radius: 10px;
    padding: 30px 20px;
    overflow: hidden;
    margin-top: 60px;
    color: #fff;
}
.mini_modal_title{
    font-size: 18px;
    color: #fff;
    text-align: center;
    font-family: "PTSans-Narrow";
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-right: 35px;
}
.mini_modal_text{
    padding: 4px 0 40px 180px;
    text-transform: uppercase;
    font-family: "PTSans-Narrow";
}
.x_out:hover{
    cursor: pointer;
}
.x_out{
    background: url("../img/x_out.png") center no-repeat;
    width: 26px;
    height: 26px;
    position: absolute;
    top: 20px;
    right: 20px;
    display: block;
    z-index: 9;
}
.ptbold{
    font-family: "PTSans-Narrow";
    font-weight: bold;
}
.f18{
    font-size: 18px;
}
.f16{
    font-size: 16px;
}
.my_toggle .icon-bar{
    background-color: #000;
}
.my_toggle{
    display: none;
    position: relative;
    z-index: 9;
}
.menu_modal .modal-dialog {
    width: 100%;
    padding: 0;
    margin: 0;
}
.menu_modal .head_menu .navbar{
    border: none;
}
.menu_modal {
    padding: 0 !important;
}
.menu_modal .navbar-collapse{
    padding: 0;
}
.menu_modal .modal-content{
    border-radius: 0;
    background-color: #fff;
    box-shadow: none;
}
.head_menu_modal{
    padding-top: 17px;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
    margin: 50px 0 15px 0;
}
.head_menu_modal .navbar-nav{
    float: none;
}
.head_menu_modal .dropdown-menu>li>a{

}
.head_menu_modal .nav>li>a:hover{
    background-color: #d5d5d5;
}
.head_menu_modal .dropdown-menu>li>a:hover,.head_menu_modal  .dropdown-menu>li>a:focus {

    background-color: #d1d1d1;
}
.head_menu_modal .nav>li>a{
    margin: 0;
    padding: 0;
    font-family: "PTSans-Narrow";
    color: #000;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
    padding: 8px 0 8px 15px;
}
.head_menu_modal .navbar-nav .open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    background-color: transparent;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.head_menu_modal .navbar-collapse{
    margin: 0;
}
.head_menu_modal .caret{
    display: none;
}
.head_menu_modal .dropdown-menu>li>a {
    padding: 7px 20px 7px 40px;
    font-family: "PTSans-Narrow";
    font-size: 16px;
}
.head_menu_modal .close{
    position: relative;
    top: -61px;
    font-size: 30px;
    right: 17px;
}
.head_menu_modal .navbar-nav>li {
    float: none !important;
}
.mob_call_box a:hover{
    text-decoration: none;
    border-bottom: 1px solid transparent;
}
.mob_call_box a{
    color: #fff !important;
    display: inline-block;
    border-bottom: 1px solid #fff;
}
.mob_call_box span{
    font-size: 28px;
    display: inline-block;
    margin: 0 5px;
}
.mob_call_box div{
    display: inline-block;
}
.mob_call_box{
    display: none;
    background-color: #2879e8;
    padding: 20px 0 20px 0;
    margin-left: -15px;
    text-align: center;
    color: #fff;
    font-size: 18px;
    margin-bottom: 30px;
}
.news_list_filter .mini_way {
    margin: 10px 0 15px 0;
    font-size: 14px;
    font-family: "OpenSans-Semibold";
}
.news_list_filter.news_list>li {
    padding-bottom: 15px;
}
.news_list_filter .title{
    margin-bottom: 0;
    line-height: 1.6;
}
/**/
.list_links {
    border-left: 5px solid #c7c7c7;
    padding: 23px 0 100px 0;
    margin-bottom: 25px;
}
.list_links li.active a{
    font-family: "OpenSans-Semibold";
}
.list_links li.active a,
.list_links li a:active,
    /*.list_links li a:focus,*/
.list_links li a:hover{
    border-left: 5px solid #ededed;
    color: #59B1E4;
    text-decoration: none;
}
.list_links li a{
    display: inline-block;
    padding: 10px 10px 10px 25px;
    margin-left: -5px;
    border-left: 5px solid #c7c7c7;
    color: #444343;
}
.list_links li{
    list-style: none;
}
.big_name{
    color: #59B1E4;
    font-size: 24px;
    display: block;
    padding: 7px 0;
    font-family: "OpenSans-Semibold";
}
.bread a:hover{
    text-decoration: none;
}
.bread a{
    text-decoration: underline;
    color: #000 !important;
}
.bread{
    color: #000;
    padding: 15px 0 15px 0 ;
}
/**/
.filter:hover{
    cursor: pointer;
}
.filter.active{
    background: url("../img/cal_white.png") #545454 left center no-repeat;
    background-position: 30px 50%;
    color: #fff;
    -webkit-transition: bottom 0.2s ease;
    -moz-transition: bottom 0.2s ease;
    -o-transition: bottom 0.2s ease;
    -ms-transition: bottom 0.2s ease;
    transition: bottom 0.2s ease;
}
.filter_box{
    float: right;
    margin: -35px 0 0 0;
}
.filter span{
    height: 60px;
    vertical-align: middle;
    display: table-cell;
    font-family: "OpenSans-Semibold";
    font-size: 14px;
    padding-left: 70px;
    padding-right: 10px;
}
.filter {
    background: url("../img/cal_blue.png") #fff left center no-repeat;
    background-position: 30px 50%;
    width: 155px;
    height: 60px;
    color: #3BA8EA;
    -webkit-transition: bottom 0.2s ease;
    -moz-transition: bottom 0.2s ease;
    -o-transition: bottom 0.2s ease;
    -ms-transition: bottom 0.2s ease;
    transition: bottom 0.2s ease;
}
.filter_link{
    padding: 0 2px 0 0;
    text-align: center;
}
.hide_filter a.active{
    background-color: #6f9edb;
}
.hide_filter a:hover{
    text-decoration: none;
    background-color: #6f9edb;
}
.hide_filter a{
    display: block;
    padding: 17px 0;
    background-color: #6a6a6a;
    color: #fff;
}
.hide_filter{
    display: none;
    background-color: #545454;
    padding: 0 11px;
}
.pade_b{
    padding: 11px 0 0 0 ;
}
.m2{
    margin-bottom: 2px;
}
.very_blue{
    padding: 14px 20px;
    margin-bottom: 20px;
    background-color: #60a0e5;
    color: #fff;
    font-size: 16px;
    font-family: "OpenSans-Semibold";
}
.news_list_filter_in .anons_box{
    text-align: justify;
}
.news_list_filter_in{
    padding: 0 0 0 0;
}
.event_name{
    font-size: 20px;
    display: block;
    font-family: "PTSans-Narrow";
    color: #4c78e4;
    text-transform: uppercase;
    border-bottom: 1px solid #4c78e4;
    padding: 20px 0 8px 0;
}
.event_box img{
    position: absolute;
    top: 0;
    left: 50%;
    height: 180px;
    max-width: inherit;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.event_box{
    margin: 15px 0 15px 0;
    height: 181px;
    position: relative;
    max-width: 281px;
    /*border: 1px solid red;*/
    overflow: hidden;
    /*margin-left: -140px;*/
    /*left: 50%;*/
    /*-moz-transform: translateX(-50%);*/
    /*-ms-transform: translateX(-50%);*/
    /*-webkit-transform: translateX(-50%);*/
    /*transform: translateX(-50%);*/
}
.event_date span{
    display: block;
    font-size: 14px;
    color: #fff;
    padding: 0 20px;
    margin: -5px 0 0 0;
    text-transform: lowercase;
}
.event_date{
    font-family: "PTSans-Narrow";
    background-color: #25A3E8;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 3px 0 3px 0;
    position: absolute;
    z-index: 1;
    right: 29px;
    top: 0;
}

.event_text span{
    display: block;
    position: relative;
    z-index: 1;
}
.event_text:hover{
    color: #fff !important;
    text-decoration: none;
}
.event_text{
    color: #4c78e4 !important;
    font-size: 16px;
    font-family: "PTSans-Narrow";
    text-transform: uppercase;
    padding: 20px 20px;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}
.fix_list {
    position: fixed;
    left: 0;
    top: 50%;
    margin-top: -135px;
    z-index: 99;
}
.fix_list li{
    list-style: none;
    margin-bottom: 4px;
}
.scream:hover{
    background-color: #2296d5;
}
.scream{
    width: 70px;
    height: 64px;
    display: table-cell;
    background-color: #25A3E8;
    z-index: 1;
    vertical-align: middle;
    text-align: center;
}

.scream2:hover{
    background-color: #c88b54;
}
.scream2{
    background-color: #de9a5d;
}
.info_link i{
    border-radius: 20px;
    width: 90px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    border: 1px solid #fff;
}
.info_link span{
    display: table-cell;
    vertical-align: middle;
    height: 90px;
    width: 90px;
    text-align: center;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.info_link:hover{
    text-decoration: none;
}
.info_link{
    margin: 125px 20px 50px 50px;
    border-radius: 20px;
    font-size: 16px;
    color: #fff !important;
    font-family: "PTSans-Narrow";
    overflow: hidden;
    width: 90px;
    height: 90px;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
#xscroll_in{
    /*height: 140px;*/
    margin-top: 15px;
    padding-top: 5px;
    padding-right: 15px;
}
#ascrail2001 {
    opacity: 1 !important;
}
#ascrail2001 div{
    border: 1px solid #fff !important;
    background-color: #fff !important;
}
#ascrail2000 {
    opacity: 1 !important;
}
#ascrail2000 div{
    border: 1px solid #25A3E8 !important;
    background-color: #25A3E8 !important;
}
.white_menu {
    background-color: #fff;
    padding: 0 25px 5px 14px;
    margin-bottom: 10px;
}
.circle_box img{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 100%;
    max-width: inherit;
    position: absolute;
    top: 0;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.crive{
    padding: 0 15px 0 0;
}
.circle_box{
    height: 176px;
    width: 152px;
    overflow: hidden;
    position: relative;
    /*left: 50%;*/
    /*margin-left: -76px;*/
    margin-bottom: 30px;
    float: left;
}
.circle_name.active a,
.circle_name a:hover{
    text-decoration: none;
    border-bottom: 1px solid #000;
}
.circle_name a{
    color: #000 !important;
    display: inline-block;
    border-bottom: 1px solid transparent;
}
.circle_name{
    vertical-align: middle;
    height: 176px;
    display: table-cell;
    font-size: 30px;
    font-family: "OpenSansCondensedLight";
    padding: 0 0 0 25px;
}
.circle_link:hover{
    cursor: pointer;
}
.circle_link .sp1{
    height: 88px;
    width: 150px;
}
.circle_link{
    position: absolute;
    top: 0;
    left: 0;
    height: 176px;
    width: 152px;
    display: block;
    z-index: 1;
}
/*tr*************************/
.tr{
    width: 150px;
    height: 150px;
    background: #fff;
    position: absolute;
    z-index: 1;
    -moz-transform: rotate(60deg);
    -ms-transform: rotate(60deg);
    -webkit-transform: rotate(60deg);
    transform: rotate(60deg);
}
.tr1 {
    top: -107px;
    left: -91px;
}
.tr2 {
    top: -107px;
    right: -91px;
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.tr3 {
    bottom: -107px;
    left: -91px;
    -moz-transform: rotate(30deg);
    -ms-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}
.tr4 {
    bottom: -107px;
    right: -91px;
}
/*tr***********************/
.circle_parent{
    padding: 65px 0  25px 0;
}
/***************************************/
.block_test{
    /* padding: 35px 0; */
    /* color: #fff !important; */
}
.block_title{
    font-size: 16px;
    font-family: "OpenSans-Semibold";
    margin-bottom: 15px;
}
.select_list{
    margin-bottom: 35px;
}
.select_list li {
    list-style: none;
    display: block;
    font-family: "OpenSansRegular";
}
.select_list li label:hover{
    cursor: pointer;
}
.select_list li label input{
    display: none;
}
.select_list li label{
    background-repeat: no-repeat;
    background-position: 0px 5px;
    padding: 6px 0 10px 39px;
    display: block;
    font-weight: normal;
}
.form_button{
    outline: none !important;
    border: 1px solid #fff !important;
    background-color: transparent !important;
    font-size: 12px;
    font-family: "OpenSans-Semibold";
    border-radius: 10px;
    padding: 2px 20px 3px;
}
.result_btn:hover{
    text-decoration: none !important;
    border-bottom: 1px solid transparent;
}
.result_btn{
    color: #fff !important;
    border-bottom: 1px solid #fff;
    display: inline-block;
    font-size: 12px;
    font-family: "OpenSans-Semibold";
}
.train{
    display: inline-block;
    margin: 0 10px;
    color: #fff;
}
.voting .train{
    display: inline-block;
    margin: 0 10px;
    color: #6a6a6a;
}
.resulter{
    padding: 10px 5px;
    display: block;
    border: 2px solid #fff;
    margin: 5px 0;
    text-align: center;
    font-family: "OpenSans-Semibold";
    color: #fff;
}
.flipper.active{
    background: url("../img/headphone.png") #25A3E8 no-repeat;
    background-position: 10px 50%;
}
.flipper{
    background: url("../img/headphone2.png") #25A3E8 no-repeat;
    background-position: 10px 50%;
}
.speech {
    width: 60px;
    display: block;
    padding: 10px 0;
    background-color: #25A3E8;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 311px;
    text-align: center;
    height: 48px;
}
.logo_img img{
    width: 145px;
    height: 116px;
    display: inline-block;
}
.search_form {
    width: 200px;
    position: absolute;
    right: 310px;
    top: 75px;
    height: 33px;
}
.search_box{
    width: 35px;
    padding: 4px 20px 5px 15px;
    background: transparent;
    border: 1px solid #A3A3A3;
    outline: none !important;
    z-index: 10;
    position: absolute;
    color: #A3A3A3;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    font-size: 12px;
    height: 33px;
    right: 0;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
.search_form.active .search_box,
.search_box:hover{
    width: 200px;
    padding: 4px 40px 5px 15px;
}
.search_btn {
    border: none !important;
    background: url("../img/zoom2.png");
    color: #A3A3A3;
    width: 19px;
    height: 19px;
    right: 8px;
    top: 6px;
    position: absolute;
    font-size: 12px;
    outline: none !important;
    z-index: 20;
}

.search_form.active .search_box{
    border: 1px solid #59B1E4;
}
.search_form.active .search_btn {
    background: url("../img/zoom.png");
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder,
input[type="text"]{
    color:#59B1E4;
}
::-webkit-input-placeholder {color:#59B1E4; font-family: "OpenSansRegular";}
::-moz-placeholder          {color:#59B1E4; font-family: "OpenSansRegular";}/* Firefox 19+ */
:-moz-placeholder           {color:#59B1E4; font-family: "OpenSansRegular";}/* Firefox 18- */
:-ms-input-placeholder      {color:#59B1E4; font-family: "OpenSansRegular";}
/**/
.search_form:focus button{
    display: none;
}
.caret_btn{
    display: inline-block;
    margin: 10px 0 5px 0;
}
.second_list{
    display: block;
    /*height: 178px;*/
    overflow: hidden;
    margin-bottom: 0 !important;
    /*-webkit-transition: top 0.3s ease-out;*/
    /*-moz-transition: top 0.3s ease;*/
    /*-o-transition: top 0.3s ease;*/
    /*-ms-transition: top 0.3s ease;*/
    transition: top 0.3s ease-out;
}
.paper_boxes{
    width: 1325px;
    /*margin-top: -300px;*/
    position: relative;
    margin: 0 auto;
    background-color: #ffffff;
    /*-webkit-box-shadow: 0px 6px 25px 0px rgba(0,0,0,0.5);*/
    /*-moz-box-shadow: 0px 6px 25px 0px rgba(0,0,0,0.5);*/
    box-shadow: 0px 3px 15px 0px rgba(0,0,0,0.3);
}
.eyes img{
    margin-right: 5px;
    margin-top: -2px;
}
.eyes{
    /*float: right;*/
    color: #757575;
    font-size: 12px;
    padding-top: 3px;
}
.news_box .nav-tabs:after{
    content: '';
    display: block;
    width: 100%;
    height: 0;
    clear: both;
    /*border-bottom: 1px solid #d7d7d7;*/
}
.news_box .nav-tabs>li{
    width: 33.3333%;
    text-align: center;
}
.news_box .nav-tabs>li>a{
    color: #999999;
    font-size: 16px;
    font-weight: bold;
    border-radius: 0 !important;
    padding: 17px 5px;
}
.news_box .nav-tabs>li.active>a{
    color: #60a0e5;
}
.nav-tabs>li:first-child.active>a{
    border-left: 1px solid transparent;
}
.nav-tabs>li:last-child.active>a{
    border-right: 1px solid transparent;
}
.pro_news{
    padding: 0 0 0 0;
}
/**************************Абдулазиз изменение**************************************/

.modal_name {
    background: none !important;
    border: none !important;
    outline: none !important;
    padding: 10px 5px;
    font-weight: 600;
    color: #2879E8;
    display: inline-block;
    font-size: 16px;
}
.togglebutton {
    background: none !important;
    border: none !important;
    outline: none !important;
    padding: 2px 5px;
    font-weight: 600;
    color: #000;
    display: inline-block;
    font-size: 14px;
}
.img_modal_dep{
    width: 160px;
    height: 200px;
}

.circle_box img{
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    transition: all 0.3s ease;
    height: 100%;
    max-width: inherit;
    position: absolute;
    top: 0;
    left: 50%;
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
.crive{
    padding: 0 15px 0 0;
}
.circle_box{
    height: 176px;
    width: 152px;
    overflow: hidden;
    position: relative;
    /*left: 50%;*/
    /*margin-left: -76px;*/
    margin-bottom: 30px;
    float: left;
}
.circle_name.active a,
.circle_name a:hover{
    text-decoration: none;
    border-bottom: 1px solid #000;
}
.circle_name a{
    color: #000 !important;
    display: inline-block;
    border-bottom: 1px solid transparent;
}
.circle_name{
    vertical-align: middle;
    height: 176px;
    display: table-cell;
    font-size: 30px;
    font-family: "OpenSansCondensedLight";
    padding: 0 0 0 25px;
}
.circle_link:hover{
    cursor: pointer;
}
.circle_link .sp1{
    height: 88px;
    width: 150px;
}
.circle_link{
    position: absolute;
    top: 0;
    left: 0;
    height: 176px;
    width: 152px;
    display: block;
    z-index: 1;
}
/***************************Абдулазиз изменение конец*************************************/
.mini_title{
    font-family: "PTSans-Narrow";
    font-size: 20px;
    color: #4c78e4;
    padding: 10px 20px 10px 20px;
    border-bottom: 1px solid #a5a5a5;
    text-transform: uppercase;
}
.active_menu:after{
    content: '';
    display: block;
    height: 0;
    width: 100%;
    clear: both;
}
.active_menu{
    padding: 20px 0 0 0;
    position: relative;
}
.active_menu li a:hover{
    background-color: #dde0e4;
    text-decoration: none;
}
.active_menu li a .ibox{
    width: 100px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.active_menu li a .parent_box{
    border-radius: 50%;
    background-color: #2879e8;
    position: relative;
    left: 50%;
    top: 0;
    margin-left: -50px;
    display: inline-block;
}
.active_menu li a .parent_box.red{
    background-color: #d47474;
}
.active_menu li a .parent_box.brow{
    background-color: #e88928;
}
.active_menu li a .parent_box.green{
    background-color: #97c16d;
}
.active_menu li a .parent_box.violet{
    background-color: #8274be;
}
.active_menu li a .parent_box.brown{
    background-color: #9c9c9c;
}
.active_menu li a{
    display: block;
    min-height: 190px;
    background-color: transparent;
    padding: 20px 0 0 0;
    color: #5b5b5b;
    font-size: 16px;
    font-family: "PTSans-Narrow";
    border-left: 1px solid #a5a5a5;
}
.active_menu li:first-child a{
    border-left: 1px solid transparent;
}
.active_menu li{
    list-style: none;
    float: left;
    width: 16.66666%;
    margin-bottom: 20px;
}
.active_menu .text{
    display: block;
    text-align: center;
    text-transform: uppercase;
    padding: 20px 15px 0 15px;
}
.interactive_services:after{
    content: '';
    display: block;
    width: 100%;
    clear: both;
}
.interactive_services {
    padding: 27px 30px 0 40px;
}
.interactive_services li:nth-child(4n + 1){
    clear: both;
}
.interactive_services li{
    list-style: none;
    position: relative;
    padding: 0 0 0 85px;
    margin-bottom: 30px;
    float: left;
    width: 25%;
}
.sphere_link{
    display: inline-block;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -33px 0 0 0;
}
.sphere_link a{
    border-radius: 50%;
    height: 65px;
    width: 65px;
    display: table-cell;
    background-color: #a1a1a1;
    margin-top: -33px;
    text-align: center;
    vertical-align: middle;
}
.interactive_services li a{
    text-transform: uppercase;
    font-size: 16px;
    font-family: "PTSans-Narrow";
    color: #464646 !important;
}
.interactive_services li.active .sphere_link a{
    background-color: #25A3E8;
}
.interactive_services li.active a{
    text-decoration: underline;
}
.vert_link{
    height: 70px;
    vertical-align: middle;
    display: table-cell;
    padding-right: 70px;
}
.simpleList img{
    width: 125px;
    height: auto;
}
.newsAreaList img.media-object {
    max-width: 170px;
    padding: 2px;
}
.videoAreaList iframe {
    max-width: 300px;
    height: auto;
    padding: 2px;
}
.newsAreaList{
    padding-top: 20px;
}
.videoAreaList{
    padding-top: 20px;
}
.ul_tab{
    list-style: none;
}
/**/
/**/
/******************easyPieChart***********************/
/******************easyPieChart***********************/

.chart{
    min-width: 200px;
    height: 200px;
    max-width: 200px;
    margin: 0 auto
}
.highcharts-container>svg>text,

.highcharts-legend{
    display: none;
}
.charts_list .highcharts-button{
    display: none;
}
.charts_list .highcharts-button{
    display: none;
}
path:hover {
    cursor: inherit;
}
.charts_list:after{
    content: '';
    display: block;
    width: 100%;
    clear: both;
}
.charts_list .text a{
    text-align: center;
    color: #696969;
    font-size: 14px;
    font-family: "OpenSansRegular";
    margin-bottom: 10px;
}
.info_circle span{
    width: 12px;
    height: 12px;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -6px 0 0 0;
    border-radius: 50%;
}
.info_circle{
    font-family: "PTSans-Narrow";
    font-size: 10px;
    color: #696969;
    padding: 0 0 0 20px;
    position: relative;
}
.charts_list{
    padding: 30px 0 35px 0;
}
.charts_list li{
    list-style: none;
    float: left;
    width: 20%;
    overflow: hidden;
    /*background-color: #00b3ee;*/
    position: relative;
    text-align: center;
}
.info_parent{
    text-align: left;
    display: inline-block;
}
.total span{
    width: 126px;
    height: 126px;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    color: #696969;
    font-size: 32px;
    font-family: "OpenSans-Light";
}
.total{
    border-radius: 50%;
    background-color: #ffffff;
    color: #333333;
    position: absolute;
    left: 50%;
    margin: 0 0 0 -63px;
    top: 35px;
    z-index: 5;
}
/******************easyPieChart***********************/
/******************easyPieChart***********************/
.chart_parent{
    width: 200px;
    margin: 0 auto;
    position: relative;
}
.links_list li .answers:hover{
    text-decoration: none;
    background-color: #f2f2f2;
}

.links_list li .answers{
    font-size: 12px;
    display: inline-block;
    border: 1px solid #696969;
    border-radius: 10px;
    padding: 2px 20px;
    color: #696969 !important;
    font-family: "OpenSans-Semibold";
}

.links_list li a:not([class='answers']):hover{
    text-decoration: none;
}
.links_list li a:not([class='answers']){
    color: #696969 !important;
    display: inline-block;
    text-decoration: underline;
    font-family: "OpenSans-Semibold";
    font-size: 12px;
}

.links_list li:first-child{
    padding: 0 15px 0 0;
}
.links_list li:before{
    content: '';
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #696969;
    position: absolute;
    left: 0;
    top: 50%;
    margin: -5px 0 0 0;
}
.questionnaire{
    padding: 25px 0 0 15px;
}
.links_list li{
    padding: 0 15px;
    position: relative;
    list-style: none;
    display: inline-block;
    margin-top: 67px;
}
.question{
    font-size: 16px;
    font-family: "OpenSans-Semibold";
    color: #696969;
    margin-bottom: 15px;
}
.answer_list li span:before{
    width: 20px;
    height: 20px;
    content: '';
    background: url("../img/check.png") center no-repeat;
    position: absolute;
    left: 0;
    top: 0;
}
.answer_list li.active span:before{
    background: url("../img/check2.png") center no-repeat;
}
.answer_list li span{
    cursor: pointer;
    /*color:#696969 !important;*/
    position: relative;
    display: inline-block;
    padding: 0 0 0 35px;
}
.answer_list li input{display: none}
.answer_list:after{
    content: '';
    display: block;
    clear: both;
    width: 100%;
}
.answer_list {
    padding: 5px 0 0 0;
    margin-bottom: 20px;
}
.answer_list li{
    list-style: none;
    position: relative;
    margin-bottom: 15px;
    float: left;
    width: 50%;
}
.online{
    color: #696969;
    border-left: 1px solid #696969;
    padding: 25px 0 25px 20px;
}
.social ul {
    display: inline-block;
    position: relative;
    top: 8px;
    padding-left: 10px;
}
.social ul li{
    list-style: none;
    display: inline-block;
    position: relative;
    margin: 0 2px;
}
.social span{
    display: inline-block;
    margin: 15px 0 0 0;
}
.social a{
    display: block;
    border-radius: 5px;
    overflow: hidden;
}
.social a:hover{
    opacity: 0.8;
}
.source_link a:hover{
    text-decoration: none;
}
.source_link a{
    text-decoration: underline;
    color: #60a0e5 !important;
}
.source_link{
    font-family: "OpenSansRegular";
}
.social_counter{
    margin: 20px 0 25px 0;
}
.social_counter li a:hover{
    opacity: 0.8;
}
.social_counter li a{
    display: inline-block;
    border-radius: 5px;
    overflow: hidden;
}
.social_counter li{
    list-style: none;
    display: inline-block;
    margin-right: 5px;
}
.sc_link span{
    padding: 0px 3px 0 8px;
    color: #ffffff;
    height: 26px;
    display: table-cell;
    vertical-align: middle;
}
.sc_link div{
    height: 26px;
    width: 26px;
    background-color: #ffffff;
    color: #41658b;
    display: table-cell;
    border-radius: 3px;
    text-align: center;
    font-size: 17px;
    vertical-align: middle;
}
.davra{
    position: relative;
    top: -2px;
}
.sc_link:hover{
    text-decoration: none;
}
.sc_link{
    background-color: #41658b;
    padding: 2px;
}
.sc_link.facebook div{color: #39579a}
.sc_link.facebook{background-color: #39579a;}
.sc_link.twitter div{color: #00abf0}
.sc_link.twitter{background-color: #00abf0;}
.sc_link.google div{color: #be3308}
.sc_link.google{background-color: #be3308;}
.sc_link.mail div{color: #2f69a1;font-weight: bold}
.sc_link.mail{background-color: #2f69a1;}
.rss:hover{
    color: #df8914;
}
.rss{
    font-size: 35px;
    color: #ff7f00;
    position: relative;
    top: 9px;
}
.slide_article .glyphicon{
    position: absolute;
    margin: -25px 0 0 0;
    font-size: 40px;
    color: #ffffff !important;
    text-decoration: none !important;
    top: 50%;
}
.slide_article .glyphicon-chevron-left{
    left: 15px;
}
.slide_article .glyphicon-chevron-right{
    right: 15px;
}
.slide_article {
    width: 500px;
    position: relative;
    left: 50%;
    margin: 0 0 15px -250px;
}
.slide_article .carousel-inner>.item img{
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    max-width: inherit;
    height: 350px;
    /*max-height: 350px;*/
}
.slide_article .carousel-inner>.item{
    text-align: center;
    height: 350px;
}
.text_slide:before{
    content: '';
    display: block;
    background-color: #000000;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0.5;
    z-index: 0;
}
.text_slide span{
    position: relative;
    z-index: 2;
}
.text_slide{
    position: absolute;
    text-align: right;
    width: 100%;
    padding: 18px 25px 18px 25px;
    bottom: 0;
    z-index: 1;
    color: #ffffff;
}
/**************************************************/
/**************************************************/
/**************************************************/
.davra_share{
    display: inline-block;
}
.soc_btn{
    display: inline-block;
}
.print {
    /*position: absolute;*/
    /*z-index: 99;*/
}
.print .glyphicon-print {
    cursor: pointer;
    font-size: 17px;
    color: #fff;
    /*margin: 3px;*/
}
span.printBorder {
    padding: 9px 0 9px 12px;
}
.diagramm_second p,
.absolute_list p,
.diagramm_second a,
.absolute_list a,
.diagramm p,
.diagramm a{
    font-family: 'SEGOEUIL';
}
.diagramm_all a{
    line-height: 1.4;
}
.diagramm{
    margin: 20px 0 50px 0;
    display: block;
    max-width: 850px;
    font-size: 14px !important;
}
.diagramm a{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.diagramm a:hover{
    color: #fff;
    background: #868585;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}
.buga_text_right,
.buga_text_left{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.buga_text_right:hover,
.buga_text_left:hover{
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    cursor: pointer;
}
.diagramm a{
    text-decoration: none !important;
}
.diagramm img{
    padding: 0 !important;
    max-width: none !important;
}
.diagramm_body{
    margin: 34px 0;
    width: 100%;
    display: block;

}
.diagramm_parent2,
.diagramm_parent{
    text-align: center;
    padding: 15px 0;
    display: block;
    color: #fff !important;
    background: #08bbf6;
}
.parent_head{
    position: relative;
    background: #c3f1ff;
    padding: 5px;
}
.diagramm_text:hover{
    border: 5px solid #c3f1ff
}
.diagramm_text{
    color: #fff !important;
    background: #009dce;
    border: 5px solid #c3f1ff;
    padding: 22px 0px;
    display: block;
    text-align: center;
}
.parent_body p{
    margin-top: 10px;
    display: block;
    text-align: center;
    color: #61b0a2;
}
.parent_body .diagramm_text{
    background: #6ebfb1;
    border: 5px solid #b8faef;
}
.parent_body{
    position: relative;
    margin-top: 29px;
    background: #b8faef;
    border: 5px solid #b8faef;
}
.page-footer p{
    color: #8d8c8c;
    text-align: center;
    display: block;
    margin-top: 10px;
}
.page-footer .diagramm_text{
    background: #969696;
    color: #fff;
    border: 5px solid #efe4e4;
}
.page-footer{
    position: relative;
    background: #efe4e4;
    border: 5px solid #efe4e4;
    margin-top: 29px;
}
.buga_text_right a{
    color: #fff;
    display: block;
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}
.buga_text_left a{
    display: block;
    text-align: center;
    color: #fff;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -o-transform: rotate(270deg);
}
.buga_text_right{
    right: 0;
}
.buga_text_right a{
    position: absolute;
    top: 50%;
    left: -137px;
    margin-right: -160px;
}
.buga_text_left a{
    position: absolute;
    top: 50%;
    right: -103px;
    margin-left: -120px;
}
.buga_text_left{
    left: 0;
}
.buga_text_right,
.buga_text_left{
    height: 685px;
    width: 65px;
    background: #fa7d18;
    position: absolute;
}
.parent_head .angle_left{
    right: -5%
}
.parent_head .angle_right{
    left: -5%;
}
.angle_left{
    position: absolute;
    top: 50%;
    right: -6%;
}
.angle_right{
    position: absolute;
    top: 50%;
    left: -6%;
}
.angle{
    position: absolute;
    top: -32px;
    left: 50%;
}
.pade_horizont{
    padding: 0 35px;
}
.parent_body .diagramm_text{
    padding: 12px 0px;
}
.page-footer .diagramm_text{
    min-height: 90px;
    padding: 9px 8px;
}
.parent_head .diagramm_text{
    min-height: 124px;
    padding: 22px 10px;
}
a.diagramm_parent:hover{
    background: #0fade1;
}
.parent_head .diagramm_text:hover{
    background: #1281a3;
}
.parent_body .diagramm_text:hover{
    background: #62ab9e;
}

.buga_text_left a:hover,
.buga_text_right a:hover,
.buga_text_left:hover,
.buga_text_right:hover{
    background: #cd6a1a;
}

.rip .diagramm_parent2:hover{
    background: #cd6a1a;
}
.rip .diagramm_parent2{
    position: relative;
}
.rip .diagramm_parent2{
    background: #fa7d18;
}
.down_angle .angle img{
    position: absolute;
    top: auto;
}
.rip .angle{
    display: block;
    position: absolute;
    top: -25px;
}
.rip{
    margin-top: 30px;
    display: none;
}
.none_600{
    display: block;
}
.diagramm_second_center a.head_text,
.diagramm_second a{
    vertical-align: middle;
}
/*diagramm*/
/*diagramm second*/
.diagramm_second a:hover{
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
    background: #b4b4b4;
    text-decoration: none;
}
.diagramm_second a{
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
    transition-duration: 0.5s;
}
.diagramm_second{
    margin-bottom: 50px;
    max-width: 850px;
}
.head_text{
    line-height: 1.2;
    margin-top: 29px;
}
.diagramm_second_foot .head_text{
    background: #18c4fa;
}
.diagramm_second_center .head_text{
    background: #fa7d18;
}
.diagramm_right_foot .head_text{
    background: #6ebfb1;
    height: 100px;
}
.diagramm_second_head p{
    margin: 10px 30px;
}
.diagramm_second_head .head_text{
    background: #009dce;
    padding: 12px 35px;
}
a.head_text p{
    line-height: 1.2;
    margin-top: 10px;
    font-style: italic;
    font-size: 12px;
}
.mini .diagramm_second_foot a.head_text{
    height: 100px;
    width: 160px;
}
.diagramm_second_foot a.head_text{
    padding: 18px 10px;
    height: 100px;
}
a.head_text{
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    display: block;
    text-align: center;
}
.diagramm_second_center a.head_text{
    height: 100px;
    width: 264px;
    margin-top: 29px;
    padding-left: 22px;
    padding-right: 22px;
}
/**************************************************/
/**************************************************/
/**************************************************/
/**************************************************/

/****************************************/
.titleName{
    font-size: 20px;
    font-family: "PTSans-Narrow";
    border-bottom: 1px solid #c2c0c0;
    padding: 10px 20px 15px 20px;
    color: #4c78e4;
    text-transform: uppercase;

}
.titleName span{
    /*padding: 10px 20px 15px 20px;*/
    /*margin: 0 0 15px 0;*/
}
.news_box label{
    /* position: absolute; */
    /* left: 0; */
    /*margin: 10px 0 0 0;*/
    /* top: 50%; */
    /* margin-top: -10px; */
    /* width: 21px; */
    /* height: 21px; */
    /* font-weight: lighter !important; */
}
.rightBox{
    margin: 155px 0 0 0;
}
.rightBox.leftBox{
    position: absolute;
    /*top: 0;*/
    width: 237px;
    margin: 150px 0 0 0;
}
.rightBox .checkbox{
    padding: 8px 0 !important;
}
.rightBox .checkbox input{
    display: none;
}
.rightBox .checkbox .textix{
    width: 100% !important;
    font-size: 20px;
    padding: 0 0 0 40px;
}
.rightBox .checkbox .textix .selectBox{
    width: 100% !important;
    border-radius: 10px;
    font-size: 14px;
    padding: 6px 0 6px 20px;
    overflow: hidden;
    outline: none;
    /*color: #979797;*/
    background-color: #d3d3d3;
}
.rightBox .checkbox.active .textix .selectBox{
    background-color: transparent;
}
.rightBox .checkbox .textix .selectBox option{
    color: #000 !important;
}
.statBox{
    padding: 20px 0 20px 0;
    font-size: 16px !important;
}
.statBox .statPad{
    position: relative;
    /*left: 170px;*/
}
.statBox ul{
    position: absolute;
    top: 40%;
    margin: 0 0 0 30px;
}
.statBox ul li{
    list-style: none;
    margin: 0 0 -10px 0;
}
.statBox ul li.active{
    opacity: 0.6;
}
.statBox ul li .rectangle{
    position: absolute;
    top: 5px;
    background-color: #00adfc;

    width: 20px;
    height: 20px;
}
.statBox ul li .rectangle2{
    position: relative;
    top: 25px;
    background-color: #49ae49;
    width: 20px;
    height: 20px;
}
.statBox ul li .rectangle3{
    position: relative;
    top: 25px;
    background-color: #2e6bd3;
    width: 20px;
    height: 20px;
}
.statBox ul li span{
    padding: 0 0 0 40px;
    font-size: 20px;
    font-family: "OpenSansRegular";
    color: #525252;
}
.statBox .procent{
    position: absolute;
    top: 36%;
    left: 73%;
    z-index: 1;
    color: #fff;
    font-size: 24px;
}
.statBox .procent2{
    position: absolute;
    top: 50%;
    left: 60%;
    z-index: 1;
    color: #fff;
    font-size: 24px;
}
.statBox .procent3{
    position: absolute;
    top: 62%;
    left: 73%;
    z-index: 1;
    color: #fff;
    font-size: 24px;
}
.statBox .statTitleName{
    text-align: center;
    margin: 0 0 0 30px;
    font-size: 20px;
    font-family: "PTSans-Narrow";
    text-transform: uppercase;
    color: #525252;
    padding: 15px 0 25px 0;
}
.highcharts-title{
    display: inherit;
}
.news_box label input{
    /* display: none; */
}
.rightBox2 ul{
    margin-top: 40px;
    margin-left: -25px;
}
.rightBox2 ul li{
    list-style: none;
    padding: 10px 10px;
}
.rightBox2 ul li:hover{
    background-color: #49c7a2;
    color: #fff;
    border-radius: 15px !important;
}
.rightBox2 ul li span{
    font-size: 16px;
    font-family: "OpenSansRegular";
}
.checkbox .season{
    background: url("../img/check77.png") center no-repeat;
    width: 21px;
    height: 21px;
    top: 50%;
    margin-top: -12px;
    position: absolute;
    left: 0;
}
.checkbox.active .season{
    background: url("../img/checked77.png") center no-repeat;
}

/*******************modal*****************/
.modal-header{
    border-bottom: none !important;
}
#map_modal_qo .modal-content{
    background: #F2F1E2;
    border-radius: 50px;
    width: 700px;
    margin: 100px 0 0 -40px;
}
#map_modal_na .modal-content{
    background: #F2F1E2;
    border-radius: 50px;
    width: 700px;
    margin: 100px 0 0 -40px;
}

/*******license********************************************/
.licenseTitle{
    background-color: #60a0e5;
    font-size: 20px;
    font-family: 'OpenSansRegular';
    color: #fff;
    padding: 10px 0 10px 25px;
    margin: 35px 0 0 0;
}
.news_box .newBoxPad{
    margin: 25px 0;
}
.news_box .newBoxPad .tablePad{
    padding: 7px 0 10px 0;
}
.news_box .col-md-12{
    padding: 0;
}
.news_box .col-md-1{
    padding: 0;
}
.news_box .col-md-1 .inBox:after{
    content: '';
    background: url(../img/angle_right.png) no-repeat;
    width: 26px;
    height: 12px;
    position: absolute;
    top: 50%;
    margin: 23px 0 0 15px;
}
.news_box .col-md-1 .inBox.lineBox4:after{
    margin: -5px 0 0 15px;
}
.news_box .col-md-1 .inBox.lineBox5:after{
    margin: -5px 0 0 15px;
}
.news_box .inBoxName{
    font-size: 14px;
    padding: 10px 0 27px 0;
    text-align: center;
}
.news_box .inBoxName.inBoxName2{
    padding: 0 30px 17px 30px;
}
.news_box .col-md-1 .inBox{
    font-size: 12px;
    color: #fff;
    display: table-cell;
    vertical-align: middle;
    width: 65px;
    height: 270px;
    text-align: center;
    background-color: #c9b15e;
    padding: 15px 5px;
}
.news_box .col-md-1 .inBox:hover{
    background-color: #a38c3b;
    /*opacity: 0.5;*/
}
.news_box .col-md-1 .inBox.lastInBox_in:after{
    content: '';
    background: url("../img/lastLine_img.png") no-repeat;
    width: 29px;
    height: 6px;
    position: absolute;
    top: 50%;
    margin: 0 0 0 8px;

}
.news_box .col-md-1 .inBox.inBox_in{
    display: table-cell;
    height: 325px;
    vertical-align: middle;
}
.news_box .col-md-1 .inBox.inBox_in:after{
    margin: -42px 0 0 15px;
}
.news_box .col-md-1 .inBox.inBox10_in{
    display: table-cell;
    height: 340px;
    vertical-align: middle;
}
.news_box .col-md-1 .inBox.inBox10_in.lineBox7:before{
    content: '';
    background: url("../img/rotateLine.png") no-repeat;
    width: 31px;
    height: 60px;
    position: absolute;
    right: 0;
    margin: -10px -25px 0 0;
}
.news_box .col-md-1 .inBox.inBox10_in.lineBox7:after{
    content: '';
    display: inherit;
    background: url("../img/rotateLine2.png") no-repeat;
    width: 31px;
    height: 60px;
    position: absolute;
    right: 0;
    margin: 40px -25px 0 0;
}
.news_box .col-md-1 .inBox.inBox10_in:after{
    display: none;
}
.news_box .noPad{
    padding: 0 0 0 28px;
}
.news_box .noPad2{
    padding: 0 0 0 21px;
}
.news_box .noPad3{
    padding: 0 0 0 21px;
}

.news_box .col-md-6:after{

  }
.news_box .col-md-2 .inBox2{
    font-size: 12px;
    color: #fff;
    text-align: left;
    background-color: #60a0e5;
    width: 115px;
    height: 270px;
    display: table-cell;
    vertical-align: middle;
    padding: 15px 19px 15px 15px;
}
.news_box .col-md-2 .inBox2:hover{
    background-color: #3172b8;
}
.news_box .col-md-2 .inBox2.inBox2_in{
    display: table-cell;
    height: 325px;
    vertical-align: middle;
}
.news_box .col-md-2 .inBox2.inBox2_in:before{
    content: '';
    background: url("../img/longLine2_img.png") no-repeat;
    width: 15px;
    height: 202px;
    position: absolute;
    margin: 35px 0 0 -30px;
}
.news_box .col-md-2 .inBox2.inBox2_in:after{
    content: '';
    background: url("../img/longLine3_img.png") no-repeat;
    width: 20px;
    height: 370px;
    position: absolute;
    margin: 50px 0 0 -112px;
}
.news_box .col-md-2 .inBox2.inBox20_in{
    display: table-cell;
    height: 150px;
    vertical-align: middle;
    padding: 15px 36px 15px 15px;
}
.news_box .col-md-2 .inBox2.inBox20_in:before{
    content: '';
    background: url("../img/longLine4_img.png") no-repeat;
    width: 6px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 58%;
    margin: -26px 0 0 0;
}
.news_box .col-md-2 .inBox2.inBox20_in:after{
    content: '';
    background: url("../img/longLine_img.png") no-repeat;
    width: 20px;
    height: 280px;
    position: absolute;
    margin: 35px 0 0 41px;
}
.news_box .col-md-2 .inBox2.inBox21_in{
    position: relative;
    display: table-cell;
    height: 160px;
    vertical-align: middle;
    padding: 15px 35px 15px 15px;
}
.tablePad .hasPad{
    margin: 10px 0 0 0;
}
.news_box .col-md-2 .inBox2.lineBox6:before{
    content: '';
    background: url("../img/veryLongLine_img.png") no-repeat;
    width: 8px;
    height: 770px;
    position: absolute;
    right: 0;
    margin: 140px -8px 0 0;
}
.news_box .col-md-2 .inBox2.lineBox6:after{
    content: '';
    background: url("../img/angle_down.png") no-repeat;
    width: 12px;
    height: 26px;
    position: absolute;
    left: 50%;
    bottom: 0;
    margin: 0 0 -26px 10px;
}
.news_box .col-md-6 .inBox3{
    font-size: 12px;
    border: 2px solid #8e8e8e;
    height: 270px;
    display: table-cell;
    vertical-align: middle;
    padding: 8px 15px;
}
.news_box .col-md-6 .inBox3:hover{
    background-color: rgba(165, 160, 160, 0.30);
    /*color: #fff;*/
}
.news_box .col-md-6 .inBox3:before{
    content: '';
    background: url("../img/line_img.png") no-repeat;
    width: 22px;
    height: 4px;
    position: absolute;
    top: 62%;
    margin: -3px 0 0 -39px;
}
.news_box .col-md-6 .inBox3:after{
    content: '';
    background: url("../img/line_img.png") no-repeat;
    width: 22px;
    height: 4px;
    position: absolute;
    top: 62%;
    right: 0;
    margin: -3px -22px 0 0;
}
.news_box .col-md-6 .inBox3.lineBox:before{
    margin: -26px 0 0 -39px;
}
.news_box .col-md-6 .inBox3.lineBox:after{
    margin: -26px -22px 0 0;
}
.news_box .col-md-6 .inBox3.lineBox2:before{
    margin: -26px 0 0 -39px;
}
.news_box .col-md-6 .inBox3.lineBox3:before{
    margin: -25px 0 0 -39px;
}
.news_box .col-md-6 .inBox3.lineBox2:after{
    margin: -26px -22px 0 0;
}
.news_box .col-md-6 .inBox3.lineBox3:after{
    margin: -25px -22px 0 0;
}
.news_box .col-md-6 .inBox3.inBox3_in{
    display: table-cell;
    height: 325px;
    vertical-align: middle;
}
.news_box .col-md-6 .inBox3.inBox3_in:before{
    margin: -70px 0 0 -39px;
}
.news_box .col-md-6 .inBox3.inBox3_in:after{
    margin: -70px -22px 0 0;
}
.news_box .col-md-6 .inBox3.inBox30_in{
    display: table-cell;
    height: 150px;
    vertical-align: middle;
    padding: 0 15px !important;
}
.news_box .col-md-6 .inBox3.inBox30_in:before{
    content: '';
    background: url("../img/line_img.png") no-repeat;
    width: 22px;
    height: 4px;
    position: absolute;
    top: 0;
    margin: 35px 0 0 -39px;
}
.news_box .col-md-6 .inBox3.inBox30_in:after{
    content: '';
    background: url("../img/line_img.png") no-repeat;
    width: 22px;
    height: 4px;
    position: absolute;
    top: 0;
    margin: 35px -22px 0 0;
}
.news_box .col-md-6 .inBox3.inBox31_in{
    display: table-cell;
    height: 160px;
    vertical-align: middle;
    padding: 0 15px !important;
}
.news_box .col-md-6 .inBox3.inBox31_in:before{
    content: '';
    background: url("../img/smallLine_img.png") no-repeat;
    width: 17px;
    height: 4px;
    position: absolute;
    margin: 40px 0 0 -39px;
}
.news_box .col-md-6 .inBox3.inBox31_in:after{
    margin: 40px -22px 0 0;
}
.news_box .col-md-3 .inBox4{
    font-size: 12px;
    color: #fff;
    background-color: #5fb75d;
    height: 270px;
    display: table-cell;
    vertical-align: middle;
    padding: 15px 35px 15px 20px;
}
.news_box .col-md-3 .inBox4:hover{
    background-color: #298128;
}
.news_box .col-md-3 .inBox4.inBox4_in{
    display: table-cell;
    height: 325px;
    vertical-align: middle;
}
.news_box .col-md-3 .inBox4.inBox40_in{
    display: table-cell;
    height: 340px;
    vertical-align: middle;
}
.news_box .col-md-3 .inBox4.inBox42_in{
    padding: 15px 70px 15px 20px;
}
.news_box .col-md-3 .inBox4 p{
    margin: 0;
}
.news_box .col-md-6 .inBox3 p{
    margin: 0;
}
/*******88******************************888//
/************highchart datalabelsfonsize*********/

.highcharts-data-labels .highcharts-series-0 .highcharts-tracker text{
    font-size: 14px !important;
}
/*******zooom.css*******/

img[data-action="zoom"] {
    cursor: pointer;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
}
.zoom-img,
.zoom-img-wrap {
    position: relative;
    z-index: 666;
    -webkit-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
}
img.zoom-img {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
}
.zoom-overlay {
    z-index: 420;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    filter: "alpha(opacity=0)";
    opacity: 0;
    -webkit-transition:      opacity 300ms;
    -o-transition:      opacity 300ms;
    transition:      opacity 300ms;
}
.zoom-overlay-open .zoom-overlay {
    filter: "alpha(opacity=100)";
    opacity: 1;
}
.zoom-overlay-open,
.zoom-overlay-transitioning {
    cursor: default;
}

.fix_ul li.speechHover{
    background: #25c699;
}
.loadingCursor{
    cursor: wait !important;
}
.narratorBox{
    background: #8dd2ef !important;
    position: relative;
}
.narratorBox .loading{
    position: absolute;
    background: #dcdcdc;
    height: 5px;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-animation: speechAnimation 4s infinite alternate;
    animation: speechAnimation 4s infinite alternate;
}
a.narratorBox{
    color: #3d3d3d !important;
}
.scrollUp {
    top: 50%;
    z-index: 1;
    cursor: pointer;
    width: 40px;
    height: 40px;
    opacity: 0.5;
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: none;
    text-indent: -9999px;
    background: url(../img/toTop.png) no-repeat;
}
/*******zooom.css end*******/
/*******accreditation*******/

/*.news_box .col-md-2:first-child{*/
/*padding: 0 15px 0 0;*/
/*}*/
/*.news_box .col-md-3.padNo{*/
/*padding: 0 0 0 15px !important;*/
/*}*/
.news_box .col-md-2 .boxAccred{
    width: 113px;
    height: 100px;
    background-color: #c9b15e;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-size: 12px;
}
.news_box .col-md-2 .boxAccred_last{
    width: 113px;
    height: 100px;
    background-color: #c9b15e;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-size: 12px;
}
.news_box .col-md-2 .boxAccred_last:hover{
    background-color: #a38c3b;
}
.news_box .col-md-2 .boxAccred:hover{
    background-color: #a38c3b;
}
.news_box .col-md-2 .boxAccred:after{
    content: '';
    background: url("../img/longLine45_img.png") no-repeat;
    width: 2px;
    height: 80px;
    position: absolute;
    bottom: -80px;
    left: 50%;
}
.news_box .col-md-2 .boxAccred:before{
    content: '';
    background: url("../img/lastLine_img.png") no-repeat;
    width: 29px;
    height: 6px;
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0 0 0 128px;
}
.news_box .col-md-2 .boxAccred.boxAccred_first:before{
    margin: 28px 0 0 128px;
}
.news_box .col-md-2 .boxAccred2{
    width: 113px;
    height: 100px;
    background-color: #60a0e5;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff;
    padding: 5px;
    font-size: 12px;
}
.news_box .col-md-2 .boxAccred_last.boxAccred2_last{
    background-color: #60a0e5 !important;
}
.news_box .col-md-2 .boxAccred_last.boxAccred2_last:hover{
    background-color: #3172b8 !important;
}
.news_box .col-md-2 .boxAccred_last:before{
    content: '';
    background: url("../img/lastLine_img.png") no-repeat;
    width: 29px;
    height: 6px;
    position: absolute;
    margin: 6px 0 0 84px;
}
.news_box .col-md-2 .boxAccred_last:after{
    content: '';
    background: url("../img/longLine23_img.png") no-repeat;
    width: 15px;
    height: 175px;
    position: absolute;
    left: 145px;
    margin: 10px 0 0 0;
}
.news_box .col-md-2 .boxAccred_last.boxAccred2_last:before{
    margin: 6px 0 0 90px;
}
.news_box .col-md-2 .boxAccred_last.boxAccred2_last:after{
    content: '';
    background: url("../img/longLine3_img.png") no-repeat;
    width: 20px;
    height: 370px;
    position: absolute;
    left: 139px;
    margin: 8px 0 0 0;
}
.news_box .col-md-2 .boxAccred2:before{
    content: '';
    background: url("../img/lastLine_img.png") no-repeat;
    width: 29px;
    height: 6px;
    position: absolute;
    margin: 10px 0 0 0;
    left: 128px;
}
.news_box .col-md-2 .boxAccred2.boxAccred2_mg:before{
    margin: 15px 0 0 0;
}
.news_box .col-md-2 .boxAccred2:after{
    content: '';
    background: url("../img/longLine45_img.png") no-repeat;
    width: 2px;
    height: 80px;
    position: absolute;
    bottom: -80px;
    left: 50%;
}
.news_box .col-md-2 .boxAccred2:hover{
    background-color: #3172b8;
}
.news_box .col-md-5 .boxAccred3{
    width: 329px;
    height: 150px;
    border: 2px solid #8e8e8e;
    display: table-cell;
    vertical-align: middle;
    padding: 10px;
    font-size: 12px;
}
.news_box .col-md-5 .boxAccred3.boxAccred3_line:before{
    content: '';
    background: url("../img/smallLine_img.png") no-repeat;
    width: 17px;
    height: 4px;
    position: absolute;
    left: -2px;
    margin: 7px 0 0 0;
}
.news_box .col-md-5 .boxAccred3:hover{
    background-color: rgba(165, 160, 160, 0.30);
}
.news_box .col-md-3 .boxAccred4{
    background-color: #5fb75d;
    width: 185px;
    height: 100px;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    padding: 5px 15px;
    color: #fff;
    font-size: 12px;
}
.news_box .col-md-3 .boxAccred4:before{
    content: '';
    background: url("../img/lastLine_img.png") no-repeat;
    width: 29px;
    height: 6px;
    position: absolute;
    left: -15px;
    margin: 10px 0 0 0;
}
.news_box .col-md-3 .boxAccred4.boxAccred4_mg:before{
    margin: 16px 0 0 0;
}
.news_box .col-md-3 .boxAccred4.boxAccred4_lmg:before{
    margin: 15px 0 0 0;
}
.news_box .col-md-3 .boxAccred4:hover{
    background-color: #298128;
}
.news_box .newBoxPad .tablePad .marBox{
    position: relative;
    left: 145px;
}
.news_box .newBoxPad .tablePad .marBox2{
    position: relative;
    left: 289px;
}
.docs th{
    vertical-align: middle !important;
    color: white;
}
.docs td{
    vertical-align: middle !important;
}
.beta {
    font-style: italic;
    font-size: 11px;
    text-transform: initial;
    padding: 0 10px;
    color: #59b1e4;
}
.logo_text span:hover {
    color: #59b1e4;
}
/********e-government********/

.news_box .government a{
    text-decoration: none;
}
.news_box .government{
    margin: 30px 0 0 0;
    padding: 0 !important;
}
.primeMinisterBox{
    width: 410px;
    background-color: #019dce;
    font-size: 22px;
    color: #fff;
    padding: 15px 30px;
    text-align: center;
    margin: 0 0 31px 0;
}
.primeMinisterBox:hover{
    opacity: 0.7;
    transition: all 0.4s ease;
}
.primeMinisterBox.primeMinisterBox_2:after{
    display: none;
}
.primeMinisterBox p.hasSize{
    font-size: 14px !important;
    width: 250px;
    display: inline-block;
    text-align: center;
    /*margin: 0 0 0 85px;*/
    font-style: italic;
}
.ictBox p.hasSize.hasSize2{
    font-size: 14px !important;
}
.primeMinisterBox:after{
    content: '';
    background: url("../img/longLine4_img.png") no-repeat;
    width: 6px;
    height: 26px;
    position: absolute;
    left: 50%;
    margin: 49px 0 0 0;
}
a.hasPad{
    padding: 0 10px;
    /*display: inline-block;*/
}

.ictBox{
    width: 280px;
    height: 140px;
    background-color: #fb7d17;
    display: table-cell;
    /*vertical-align: middle;*/
    padding: 15px 10px;
    color: #fff;
    font-size: 18px;
}
.ictBox:hover{
    opacity: 0.7;
    transition: all 0.4s ease;
}
.ictBox:before{
    content: '';
    background: url("../img/longLine4_img.png") no-repeat;
    width: 6px;
    height: 26px;
    position: absolute;
    margin: -44px 0 0 0;
}
.ictBox.ictBox2:before{
    margin: -44px 0 0 0;
}
.mainThreeBox{
    margin: 31px 0 0 0 !important;
}
.mainThreeBox a{
    margin: 0 10px 0 0;
}
.mainThreeBox .padHas{
    margin: 0 0 0 60px !important;
}
.mainThreeBox .threeBox{
    width: 180px;
    height: 120px;
    background-color: #19c4fa;
    display: table-cell;
    padding: 15px 10px;
    color: #fff;
    font-size: 16px;
    text-align: center;
}
.mainThreeBox .threeBox:before{
    content: '';
    background: url("../img/longLine4_img.png") no-repeat;
    width: 6px;
    height: 26px;
    position: absolute;
    margin: -44px 0 0 0;
}
.mainThreeBox .threeBox:hover{
    opacity: 0.7;
    transition: all 0.4s ease;
}
.mainThreeBox .threeBox.threeBox_inner:before{
    margin: -44px 0 0 140px;
}
.mainThreeBox .threeBox.threeBox_inner2:before{
    margin: -44px 0 0 75px;
}
.mainThreeBox .threeBox.threeBox_inner23:before{
    margin: -44px 0 0 0;
}
.mainThreeBox .threeBox.threeBox_inner3:before{
    margin: -44px 0 0 -30px;
}
.mainThreeBox .threeBox.threeBox_2{
    width: 220px;
    background-color: #6ebeb1;
}
.lastBox .primeMinisterBox.primeMinisterBox_2{
    background-color: #19c4fa;
    width: 550px;
    height: 120px;
    margin: 31px 0 30px 0;
}
.lastBox .primeMinisterBox.primeMinisterBox_2:before{
    content: '';
    background: url("../img/longLine4_img.png") no-repeat;
    width: 6px;
    height: 26px;
    position: absolute;
    margin: -44px 0 0 12px;
}
.lastBox .primeMinisterBox p.hasSize{
    width: 100%;
}
.modal-content .collapse{
    display: block !important;
}
.modal-content .navbar-toggle{
    display: none !important;
}